<div class="text-center">
    <h1>A porpos de nous</h1>
    <br/>
    <p>
        A propos de nous
        <br/><br/>
        On est Raphael Descamps et Arthur Pouant, deux étudiant un peu
        touche-à-tout dans l'audiovisuel et toujours prêts à se lancer dans des
        projets
        <br/><br/>
        Le Saint - J à la base c'était juste un jeu que j'ai inventé pour faire
        marrer les potes pendant une semaine de vacances. Ca nous a tellement
        régalés qu'on s'est dit, pourquoi pas le pousser un peu plus loin ?
        <br/><br/>
        Raphaël a donc pris les devants pour coder le jeu, et moi, arthur, je me
        suis occupé de la partie artistique. C'est un projet qu'on a monté entre
        deux délires et beaucoup de motivation
        <br/><br/>
        On espère que vous allez autant kiffer y jouer qu'on a kiffer le créer
    </p>
</div>