
<div class="text-center">
    <h1>Crédit :</h1>
    <br/>
    <p>
        ---
        <br/><br/>
        Création et Idée Originale
        Arthur Pouant
        2024
        <br/><br/>
        Développement
        Raphaël Descamps
        2025
        <br/><br/>
        Direction Artistique
        Arthur Pouant
        Raphaël Descamps
        <br/><br/>
        Design du Jeu
        Arthur Pouant
        <br/><br/>
        Programmation et Igénierie
        Raphaël Descamps
        <br/><br/>
        Scénario et Dialogues
        Arthur Pouant
        Raphaël Descamps
        <br/><br/>
        Remerciements Spéciaux
        Loris De Mattia
        Sam Lasnier
        Mathis Morel
        <br/><br/>
        Copyright
        <br/><br/>
        Copyright [2024], Tous Droits Réservés
        <br/><br/>
        ---
    </p>
</div>