html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
  color: black;
}

.carousel-item img {
  width: 100%;
  max-width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .carousel-item img {
    height: 500px;
  }
}


